.info_box{
    color: #66638A;
    font-size:medium;
    margin-bottom: 100px;
    font-weight:bolder;
}

.info_box p{
    font-family: 'Cabin', sans-serif;
}

#index_box{
    text-align: center;
}
#index_box h2, h3 a{
    color: #5E5B47;
}

#index_box h2, h3{
    font-size:x-large;
}

#index_box h3, p{
    font-weight: normal;
    font-family: 'Cabin', sans-serif;
}

#index_box .tags{
    display: inline-block;
    height: 23px;
}